<div class="alert alert-error">
  <%= t(:"marked_to_delete") %>
</div>
<% if can? :manage, @all %>
<%= link_to t(:"helpers.links.cancel"), delete_employee_company_employee_path(@company, @employee), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
<% end %>
