<div class="user_activities"><%= will_paginate @activities %></div>
<table class="table table-striped">
  <tbody class="activities_table">
    <%= render @activities %>
  </tbody>
</table>
<div class="user_activities"><%= will_paginate @activities %></div>
