<h4>Contacts</h4>
<% for employee in @company.employee %>
  <div class="span6">
    <%= link_to employee.full_name, company_employee_path(@company, employee) %>
    <%= link_to "<i class='icon-edit'></i>".html_safe, edit_company_employee_path(@company, employee) %>
    <br>
    <%= employee.phone %><br>
    <%= employee.decision? ? 'Take decision' : "Can't take decision" %><br>
    <hr>
  </div>
<% end %>
