<div class="page-header">
  <h1><%= t(:"activity.index.activities") %></h1>
</div>

<table class="table table-striped">
  <tbody class="activities_table">
    <%= render @activities %>
  </tbody>
</table>
<%= will_paginate @activities %>
