<table class="table table-striped">
  <tbody>
    <% @activities.each do |activity| %>
    <tr>
      <td>
        <%= ActivityPresenter.new(activity, self).render_activity %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @activities %>
